@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;800&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    background-color: #343d4b;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.content {
    height: 500px;
    width: 900px;
    background-color: #222831;
    border-radius: 40px;
    display: flex;
}

.today {
    width: 35%;
    border-radius: 40px;
    background: linear-gradient(#e66465, #9198e5);
}

.today_info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

.today__title {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 40px;
    font-weight: 800;
    margin: 20px 0;
}

.today__info{
    display: inline-block;
    line-height: 22px;
    font-weight: 200;
}

.today__content {
    margin-top: 20%;
    text-align: center;
}

.content_temp {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 800;
}

.content_feel {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 200;
}

.content_condition {
    margin-top: 10px;
    font-weight: 200;
}

.week {
    width: 65%;
}

.days {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.days__card {
    background-color: #272E37;
    border-radius: 20px;
    height: 130px;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
